{% extends 'base.html' %}

{% block body_block %}

<!-- <div id='index_welcome' class='text-center p-4 mb-4 rounded-3   ' style="background-color: #E8DDCB;font-size: 60px;">
  Student Council Voting System
</div> -->

<div class="row align-items-md-stretch">
    <div class="col-md-8">
      <div class="h-100 mb-4 p-5 text-white rounded-3" style="background-color: #036564;">
        <h2>Rules and Regulations:</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et minima pariatur veritatis voluptatum obcaecati totam nobis laborum voluptates fugit.</p>
      <a href="#"><button class="btn btn-outline-light" type="button">Voting</button></a>
      <a href="#"><button class="btn btn-outline-light" type="button">Creating Unions</button></a>
      </div>
      
    </div>
    <div class="col-md-4">
      <div class="h-100 p-5 border rounded-3" style="background-color: #CDB380;">
        <h2>View Unions</h2>
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam ea recusandae quisquam mollitia expedita.</p>
        <a href="{% url 'capp:unionView' %}"><button class="btn btn-outline-success" type="button">View Unions</button></a>
      </div>
    </div>
    <div class="col-md-12">
      <div class="p-5 mt-4 text-white bg-dark rounded-3">
        <h2>Create your own Union {{vote}}</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus sint nesciunt quis. Asperiores, odit consectetur voluptate dolore expedita ullam aperiam, eos, id assumenda quam unde hic omnis rerum nihil rem.</p>
        {% if user.is_authenticated %}
        <a href="{% url 'capp:createUnion' %}"><button class="btn btn-outline-info" type="button">Create Union</button></a>
        {% else %}
        <a href="{% url 'capp:userLogin' %}"><button class="btn btn-outline-info" type="button">Create Union</button></a>
        {% endif %}
      </div>
    </div>

    {% if user.is_superuser %}
    <div class="col-md-12">
      <div class="p-5 mt-4 border bg-light rounded-3">
        <h2>Students List</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus sint nesciunt quis. Asperiores, odit consectetur voluptate dolore expedita ullam aperiam, eos, id assumenda quam unde hic omnis rerum nihil rem.</p>
        <a href="{% url 'capp:students' %}"><button class="btn btn-outline-primary" type="button">Students</button></a>
      </div>
    </div>
    {% endif %}

</div>


{% endblock %}



