{% extends 'base.html' %}

{% block body_block %}


<div class="row align-items-md-stretch">
    <div class="col-md-8">
      <div class="h-100 mb-4 p-5 text-dark rounded-3" style="background-color: #E8DDCB;">
        <h2>Rules and Regulations:</h2>
      <p>Read the rules and regulations carefully before Voting or Vreating unions. For any inquiry contact the repective coordinator</p>
      <a href="{% url 'capp:rules' %}"><button class="btn btn-outline-primary" type="button">Rules</button></a>
      </div>

    </div>
    <div class="col-md-4">
      <div class="h-100 p-5 border rounded-3" style="background-color: #CDB380;">
        <h2>View Unions</h2>
        <p> Check out all the Union created and available. To create Unions check the Create Unions box. You can view the Unions without logging in.</p>
        <a href="{% url 'capp:unionView' %}"><button class="btn btn-outline-success" type="button">View Unions</button></a>
      </div>
    </div>
    <div class="col-md-12">
      <div class="p-5 mt-4 text-white bg-dark rounded-3">
        {% if var %}
          {% if user.is_superuser %}
          <div>
            <h2>Check Vote Count</h2>
            <p>Check how many votes each of the unions have attained:</p>
            <br>
            <a href="{% url 'capp:viewVote' %}"><button class="btn btn-outline-info" type="button">Live Results</button></a>

          </div>
          {%else%}
            <div class="text-center m-5">
              <h2>Vote Now!!!</h2>
              <br><br>
              {% if user.is_authenticated %}
              <a href="{% url 'capp:vote' %}"><button class="btn btn-outline-info" type="button">Vote</button></a>
              {% else %}
              <a href="{% url 'capp:userLogin' %}"><button class="btn btn-outline-info" type="button">Vote</button></a>
              {% endif %}

            </div>
        {% endif %}

        {% else %}
        <div >
          <h2>Create your own Union</h2>
          <p>Create Your own unions now!! Check out and follow the rules and abide them while making the Unions. Login is needed to create Unions</p>
          {% if user.is_authenticated %}
          <a href="{% url 'capp:createUnion' %}"><button class="btn btn-outline-info" type="button">Create Union</button></a>
          {% else %}
          <a href="{% url 'capp:userLogin' %}"><button class="btn btn-outline-info" type="button">Create Union</button></a>
          {% endif %}
        </div>
        {% endif %}
    </div>

    {% if user.is_superuser %}
    <div class="col-md-12">
      <div class="p-5 mt-4 border bg-light rounded-3">
        <h2>Students List</h2>
        <p>View the list of all the students registered into the database.</p>
        <a href="{% url 'capp:students' %}"><button class="btn btn-outline-primary" type="button">Students</button></a>
      </div>
    </div>
    {% endif %}


</div>


{% endblock %}



