{% extends 'base.html' %}

{% block body_block %}

<div class="h-100 mb-4 p-5 text-dark rounded-3 text-center" style="background-color: #E8DDCB;">
    <h1>Rules and Regulations:</h1>
</div>

<div class="h-100 pt-5 p-4 mb-4 border rounded-3" style="background-color: #CDB380;">
    <h3 class="ps-5"><u>Voting</u></h3><br>
    <ul class="list-group-flush">
        <li class="list-group-item" style="background-color: #CDB380;">
            Each student can cast only one vote.
        </li>
        <li class="list-group-item" style="background-color: #CDB380;">
            Once voting starts, unions can not be created.
        </li>
        <li class="list-group-item" style="background-color: #CDB380;">
            Students can vote by logging in with their usernames.
        </li>
        <li class="list-group-item" style="background-color: #CDB380;">
            once the vote is casted, it can not be undone.
        </li>
        <li class="list-group-item" style="background-color: #CDB380;">
            The voter can only choose one Union.
        </li>
        <li class="list-group-item" style="background-color: #CDB380;">
            The voting terminal can not be accessed before the adimin sets it.
        </li>
    </ul>
</div>

<div class="h-100 pt-5 p-4 mb-4 border rounded-3" style="background-color: #CDB380;">
    <h3 class="ps-5"><u>Creating Unions:</u></h3><br>
    <ul class="list-group-flush">
        <li class="list-group-item" style="background-color: #CDB380;">
            Each Union must have 5 members.
        </li>
        <li class="list-group-item" style="background-color: #CDB380;">
            A Union can have only one Head.
        </li>
        <li class="list-group-item" style="background-color: #CDB380;">
            The five members work together under the Head.
        </li>
        <li class="list-group-item" style="background-color: #CDB380;">
            Unions can be created till the date alloted.
        </li>
        <li class="list-group-item" style="background-color: #CDB380;">
            Only the Head must create the Union.
        </li>
        <li class="list-group-item" style="background-color: #CDB380;">
            If someone else creates the Union, he/she will be flagged.
        </li>
        <li class="list-group-item" style="background-color: #CDB380;">
            If there are any complications while creating the unions, the faculties concerning the voting process are to be contacted.
        </li>
        <li class="list-group-item" style="background-color: #CDB380;">
            Union ID must be Unique for every Union.
        </li>
        <li class="list-group-item" style="background-color: #CDB380;">
            Union Name must be unique for every Union.
        </li>
        
    </ul>

</div>

{% endblock %}
