{% extends 'base.html' %}

{% load widget_tweaks %}
{% block body_block %}


<div class="h-auto mb-4 p-5 text-white bg-dark text-center rounded-3">

    <h2>Vote here</h2>

</div>

<div class="h-100 mb-4 p-5 text-dark rounded-3" style="background-color: #E8DDCB;">

  <table class="table table-striped table-hover">
    <thead>
        <tr>
            <th class=" ">Union ID</th>
            <th class=" ">Union Name</th>
            <th class=" ">Union Head</th>
            <th class=" ">Vote</th>
        </tr>
    </thead>
    <tbody>
        <tr>
          {% for i in union %}
          <td class=" ">{{i.UNION_ID}}</td>
          <td class=" ">{{i.UNION_NAME}}</td>
          <td class=" ">
            {% for j in std %}
            {% if i.head|stringformat:'s' == j.S_ID|stringformat:'s' %}
              {{j.S_NAME}}
            {% endif %}
            {% endfor %} 
          </td>
          <td class=" ">
            <form action="{% url 'capp:vote' %}" method="POST">
              {% csrf_token %}
              <input  name="union_name" class="visually-hidden" value='{{i.UNION_NAME}}'>
              <button class="btn btn-outline-primary" >Vote</button>
            </form>
          </td>
          {% endfor %}
        </tr>
    </tbody>
  </table>

        
        

</div>

{% endblock %}